*{
    margin: 0px;
    padding: 0px;  
     
}

h1{
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
}

.container{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.first{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    padding: 20px;
}
.topnav{
    background-color: rosybrown;
    display: flex;
    justify-content: center;

}    

.advertisement{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
}


img{
    width: 200px;
    height: 200px;
    padding: 20px;
}
.image{
    justify-content: center;
    align-items: center;
} 
