*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    gap: 10px;
}
.row{
     display: flex;
    justify-content: space-evenly;
    
    

}
.col{
    flex: 1;
    justify-content: space-evenly;
    background-color: aquamarine;
    text-align: center;
    margin: 10px;
}
.col-2{
    flex:2;
    justify-content: space-evenly;
    background-color: aquamarine;
    margin: 10px;
}
.col-3{
    flex:3;
    justify-content: space-evenly;
    background-color: aquamarine;
    margin: 10px;
    
}