.navbar {
    margin: 0 auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
}
.navtitle{
display: flex;
justify-content: flex-start;

}
.navlinks {
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: rgb(152, 150, 150);
}
.btn {
    background-color: rgb(42, 218, 245);
}
.light {
    color: whitesmoke;
} 
.content{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.usercard{
    border: 2px solid black;
    width: 400px;
    height: 300px;
    
}
.cardheader{
    background-color: aqua;
    height: 60px;
}
.user {
    height:90px ;
    border-radius: 50px;
    position: relative;
    top: 10px;
    border: 4px solid white;
}
.userinfo {
    padding-top: 50px;
    padding-left: 20px;

}
.adress {
    height: 10px;
    padding-right: 2px;

}
.gear {
    height: 20px;
}
.main1 {
   
    
}
.education {
    border: 2px solid black;
    margin-top: 10px;
    

}
.naveducation {
    background-color: black;
    color: white;
    height: 30px;
    padding: 5px;
}
.educationbody {
    font-family: sans-serif;
}
.date {
    color: rgb(136, 129, 129);

}
.connexionrqst {
    width: 300px;
    height: 200px;
    border: 2px solid black;
}
.navbarrqst {
    height: 25px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 10px;
    background-color: black;
    color: white;
}
.two {
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 80px;
    padding-left: 10px;
}
h2{
    margin-right: 15px;
}
.toddE{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    
}
.Todd {
    height: 50px;
    border-radius: 50px;
}
.accept{
    height: 30px;
    border-radius: 50px;
}
.close {
    height: 30px;
    border-radius: 50px;
}
.phill{
    height: 50px;
    border-radius: 50px;
}
.phillk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}
.content {
  gap: 20px;
}
.yourconnections {
    
    border: 2px solid black;
}
.navcon {
    height: 25px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 10px;
    background-color: black;
    color: white;
}
span{ 
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius:50px;
  
    
    
}
.profilepic{
    list-style-type: none;
}
.adrien{
    height: 50px;
    border-radius: 50px;
}
.alyane{
    height: 50px;
    border-radius: 50px;
}
.arry{
    height: 50px;
    border-radius: 50px;
}
.anne{
    height: 50px;
    border-radius: 50px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    text-decoration: underline;
    width: 100%;
    border-top:  2px solid  black;
}